.form-container{
  display: flex;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
  max-width: 370px;
}

.form-title{
  font-weight: normal;
  line-height: 46px;
  margin: 0 0 40px 0;
  align-self: center;
}

input{
  width: 370px;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid #CECECE;
  padding: 0 10px;
}

label{
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;
}

.tooltip{
  display: none;
  max-width: 300px;
  word-wrap: break-word;
}

.input-block{
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.visible{
  display: block;
  width: max-content;
  height: fit-content;
  background-color: white;
  color: #E30000;
  font-size: 14px;
  padding: 15px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px rgb(0 0 0 / 20%);
  border-radius: 2px;
  position: absolute;
  left: 380px;
}

.visible::after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 16px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.visible::before {
  content: "";
  position: absolute;
  left: -22px;
  bottom: 15px;
  border-width: 11px;
  border-style: solid;
  border-color: transparent #E5E5E5 transparent transparent;
  border-radius: 2px;
}

p{
  margin: 0 0 20px 0;
}

.error{
  line-height: 20px;
  color: #E30000;
}

.option-link{
  margin-left: 15px;
  text-decoration: none;
  line-height: 20px;
  color: #0000FF;
}