html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

h3{
  margin: 0;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  margin-top: 60px;
}

.layout {
  min-height: 100vh;
  min-width: 900px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1260px) {

  .header,
  .footer,
  .content {
    padding: 0 40px;
    box-sizing: border-box;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  flex: 1 0 auto;
}

.header {
  background-color: #3C1491;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url('./logo.png') no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.bike-points-content{
  display: flex;
  margin-bottom: 20px;
}

.pick-points{
  flex-shrink: 0;
}

.pick-points__title{
  font-size: 22px;
  line-height: 30px;
}

#pick-points__list{
  list-style-type: none;
  padding: 0;
}

#pick-points__list a{
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  line-height: 26px;
}

#pick-points__list li {
  margin-bottom: 15px;
  position: relative;
}

#bikeList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 890px;
}

.bike-block{
  width: 370px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 29px;
  margin-bottom: 30px;
}

.bike-img-block{
  display: flex;
  align-items: center;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  border: 1px solid #CECECE;
  flex-shrink: 0;
}

.bike-img-block img{
  width: 100%;
}

.bike-block__title{
  font-size: 18px;
  line-height: 26px;
}

.bike-block__cost{
  margin-bottom: 20px;
}

.btn
 {
  background: #3C1491;
  border: 1px solid #3C1491;
  border-radius: 2px;
  padding: 8px 20px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.load-more {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.footer {
  height: 61px;
  background-color: #3C1491;
  color: #fff;
  flex: 0 0 auto;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.active::before{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 51%;
  background: #3C1491;
  position: absolute;
  left: -20px;
  top: 6px;
}

.background {
  background: url("../images/Rectangle.png") no-repeat center center;
  background-size: cover;
  min-height: calc(100vh - 68px - 61px);
  width: 100%;
  min-width: 900px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.main-page__container{
  color: white;
}

.main-page__filter{
  background: rgba(22, 0, 69, 0.42) no-repeat;
  background-size: cover;
  height: calc(100vh - 68px - 61px);
  width: 100%;
  min-width: 900px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.main-page__title{
  padding-top: 60px;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 18px;
  width: 633px;
}

.main-page__text{
  font-size: 18px;
  line-height: 30px;
  width: 764px;
  margin-bottom: 12px;
}

.main-page__btn {
  width: 224px;
  margin-right: 22px;
}

#map{
  width: 100%;
  height: 560px;
}

.map-container{
  margin-bottom: 40px;
}

.popup{
  padding: 15px;
}

.popup__text{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 18px;
}