.lk-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.lk-title{
  display: inline-block;
  margin-right: 30px;
}

.bike-block-lk{
  display: flex;
  max-width: 770px;
  margin-bottom: 30px;
}

.bike-block-info-lk{
  max-width: 469px;
  margin-left: 50px;
}

.bike-block__title-lk {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.bike-block__time-lk{
  margin-bottom: 10px;
}

.bike-block__cost-lk{
  margin-bottom: 20px;
}

.login-text{
  font-size: 24px;
  line-height: 34px;
  color: #B0B0B0;
}

.lk-card{
  width: 370px;
  min-width: 280px;
  border: 1px solid #CECECE;
  box-sizing: border-box;
}

.lk-card__title{
  font-size: 24px;
  line-height: 30px;
  padding: 20px 0 15px 30px;
  border-bottom: 1px solid #CECECE;
}

.lk-card__content{
  padding: 20px 0px 30px 30px;
}

.lk-card__content__number{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;
}

.lk-card__content__text{
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}

@media (max-width: 1175px) {

  .lk-card{
    margin-left: 20px;
  }
}