.rent-container{
  display: flex;
}

.bike-block-info-rent{
  margin-left: 50px;
}

.bike-block__title-rent{
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 50px;
}

.bike-block__text-rent{
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
}

.bike-block__code-rent{
  font-size: 48px;
  line-height: 60px;
}