{{> header}}
<div class="form-container">
  <form id="card-form">
    <h1 class="form-title">Реквизиты карты</h1>
    <label for="card-form__number" class="card-form__number-label">Номер карты</label>
    <div class="input-block">
      <input type="text" id="card-form__number" name="card-number" placeholder="0000 0000 0000 0000" value="{{cardRequisites.number}}">
      <div id="card-form__number__tooltip" class="tooltip"></div>
    </div>
    <label for="card-form__expiry" class="card-form__expiry-label">Срок действия</label>
    <div class="input-block">
      <input type="text" id="card-form__expiry" name="card-expiry" placeholder="мм/гг" value="{{cardRequisites.date}}">
      <div id="card-form__expiry__tooltip" class="tooltip"></div>
    </div>
    <label for="card-form__cvv" class="card-form__cvv-label">CVV</label>
    <div class="input-block">
      <input type="text" id="card-form__cvv" name="card-cvv" placeholder="000" value="{{cardRequisites.cvv}}">
      <div id="card-form__cvv__tooltip" class="tooltip"></div>
    </div>
    <button id="card-form__save-btn" class="btn" type="submit">Сохранить</button>
  </form>
</div>
<link rel="stylesheet" href="/styles/form.css">
<script src="/js/card-requisites.js"></script>
{{> footer}}
