<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/styles/layout.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="layout">
	  <div class="header">
			<div class="container">
				<div class="header__content">
					<a href="/" class="logo"></a>
					{{#isLogin}}
						<a href="/lk" class="header__link">Личный кабинет</a>
						<a href="/logout" class="header__link">Выйти</a>
					{{/isLogin}}
					{{^isLogin}}
						<a href="/login" class="header__link">Войти</a>
						<a href="/registration" class="header__link">Зарегистрироваться</a>
					{{/isLogin}}
				</div>
			</div>
	  </div>
		<div class="content container">
