{{> header}}
<div class="wrap">
  <div class="background"></div>
  <div class="main-page">
    <div class="main-page__filter"></div>
    <div class="main-page__container">
      <div class="main-page__title">
        Сервис аренды велосипедов
      </div>
      <div class="main-page__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis illo aperiam
        voluptatibus at nobis impedit illum deserunt vero commodi voluptate optio excepturi quidem
        nostrum laboriosam hic quas voluptas, ut!
      </div>
      <button class="main-page__btn btn" onclick="window.location.href='/catalog'">Арендовать велосипед</button>
      <button class="main-page__btn btn" onclick="window.location.href='/map'">Найти пункт выдачи</button>
    </div>
  </div>
</div>
  
{{> footer}}
