{{> header}}
<div>
  <h3 class="lk-title">Личный кабинет</h3>
  <span class="login-text">{{login}}</span>
</div>
<div class="lk-container">
  <div class="lk-bike-container">
    {{^orderList}}
      Нет арендованных велосипедов
    {{/orderList}}
    {{#orderList}}
    <div class="bike-block-lk" id="{{_id}}">
      <div class="bike-img-block">
        <img alt="bike image" src="../images/{{bike.img}}">
      </div>
      <div class="bike-block-info-lk">
        <div class="bike-block__title-lk">{{bike.name}}</div>
        <div class="bike-block__time-lk">Прошло времени - {{formatTotalTime}}</div>
        <div class="bike-block__cost-lk">Стоимость - {{totalCost}} &#8381;</div>
        <button class="bike-block__return-lk btn" data-order-id="{{_id}}">Вернуть</button>
      </div>
    </div>
    {{/orderList}}
  </div>
  <div class="lk-card">
    <div class="lk-card__title">Реквизиты карты</div>
    <div class="lk-card__content">
      {{#cardRequisites}}
        <div class="lk-card__content__number">{{cardRequisites.number}}</div>
        <div class="lk-card__content__text">{{cardRequisites.date}}</div>
      {{/cardRequisites}}
      {{^cardRequisites}}
        <div class="lk-card__content__text">Нет данных</div>
      {{/cardRequisites}}
      <button id="change-card-data" class="btn">Изменить</button>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/styles/lk.css">
<script src="/js/lk.js"></script>
{{> footer}}
