{{> header}}
<div class="form-container">
	<form method="post">
		<h1 class="form-title">Вход</h1>
		<label for="login">Логин</label>
		<div class="input-block">
			<input type="text" class="" id="login" name="login" value="{{ login }}">
		</div>
		<label for="password">Пароль</label>
		<div class="input-block">
			<input type="password" class="" id="password" name="password">
		</div>
		{{#isLoginError}}
			<p class="error">
				Неверные логин или пароль
			</p>
		{{/isLoginError}}
		<div>
			<button class="btn" type="submit">Войти</button>
			<a class="option-link" href="/registration">или зарегистрироваться</a>
		</div>
	</form>
</div>
<link rel="stylesheet" href="/styles/form.css">
{{> footer}}
