{{> header}}
<h3 class="map__title">Пункты выдачи</h3>
<div class="map-container">
  <div id="map"></div>
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey=ff30681d-4d72-4fb6-8b6c-2c7f5807586e&lang=ru_RU" type="text/javascript"></script>
<script src="/js/api.js"></script>
<script src="/js/map.js"></script>
{{> footer}}
