{{> header}}
<h3>Аренда велосипеда</h3>
<div class="rent-container">
    <div class="bike-img-block">
      <img alt="bike image" src="../images/{{bikeInfo.img}}">
    </div>
    <div class="bike-block-info-rent">
      <div class="bike-block__title-rent">{{bikeInfo.name}}</div>
      <div class="bike-block__text-rent">Чтобы забрать велосипед, введите код</div>
      <div class="bike-block__code-rent">{{orderCode}}</div>
    </div>
</div>
<link rel="stylesheet" href="/styles/order.css">
{{> footer}}
