{{> header}}
<div class="form-container">
	<form id="reg-form" method="post">
		<h1 class="form-title">Регистрация</h1>
		<label for="login">Логин</label>
		<div class="input-block">
			<input type="text" class="" id="login" name="login" value="{{ login }}">
		</div>
		<label for="password1">Пароль</label>
		<div class="input-block">
			<input type="password" class="" id="password1" name="password1">
		</div>
		<label for="password2">Повторите пароль</label>
		<div class="input-block">
			<input type="password" class="" id="password2" name="password2">
		</div>
		{{#notEqualPasswordsError}}
			<p class="error">
				Пароли не совпадают
			</p>
		{{/notEqualPasswordsError}}
		{{#isEmptyValuesError}}
			<p class="error">
				Заполните все поля
			</p>
		{{/isEmptyValuesError}}
		<div>
			<button class="btn" type="submit">Зарегистрироваться</button>
			<a class="option-link" href="/login">или войти</a>
		</div>
	</form>
</div>
<link rel="stylesheet" href="/styles/form.css">
{{> footer}}
